.bg {
  @apply absolute top-0 right-[0] w-[50%] h-full z-[-1] bg-gradient-to-tl from-primary to-secondary;
  transform: scale(1.2);
  opacity: 1;
  border: none;
  filter: contrast(1.5);

  > div {
    @apply w-[50%] h-full bg-white;
    border-radius: 0 100% 100% 0;
    transform: scale(1.02);
    box-shadow: 20px 20px 20px 1px rgba(0, 0, 0, 0.411);
  }
}
