.main {
  @apply flex flex-1 flex-col justify-start relative w-full;
  transition: padding-left 0.3s ease-in-out;
  max-height: 100vh;
  max-height: 100dvh;
  overflow: hidden;
}

.active {
  @apply pl-[250px];
}

.page {
  @apply flex py-4 px-10 flex-1;
  overflow: auto;
}
